.footer{
    position: flex;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 3em;
    text-align: center;
}
.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list li{
    margin: 0 1em;
}
.social_list li:hover{
    color: #ffbb33;
}
.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}
.copy_right{
    margin-top: 2em;
}
.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}
.imagem{
    text-align: center;
   
}