* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
}

html, body, #root{
  background-color: aliceblue;
  height: 100%;
}
.list{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.item{
  margin-right: 1em;
}